*{
  margin: 0;
  padding: 0;
 
}

.main
{
  width: 100%;
}


.nav{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 40px;
}

.menuh{
  display: none;
}



.lista{
  list-style: none;
  display: flex;
  gap: 50px;
  font-size: 20px;
  cursor: pointer;
}

.box{
  position: relative;
  left: 30px;
}

.box1{
  margin-bottom: 30px;
  
  
  width: 600px;
  margin-left: 200px;
  
}

.tit2{
  margin-top: 30px;
}

.img1{
  border-radius: 20px;
}

.box2{
  width: 220px;
  position: relative;
  left: 350px;
}

.box3{
  margin-top: 40px;
}

.text3{
  margin-top: 30px;
}

.box-e{
  margin-top: 10px;
}

input{
  height: 40px;
  width: 350px;
  border-radius: 12px;
background: var(--gray-6, #F2F2F2);
border: none;
color: var(--gray-4, #BDBDBD);
font-family: Poppins;
font-size: 18px;
font-style: normal;
font-weight: 500;
line-height: normal;
padding: 10px 15px;

}

.but{
  position: absolute;
  left: 283px;
  bottom: 5px;
  width: 94px;
height: 49px;
flex-shrink: 0;
border-radius: 12px;
background: #2D9CDB;
border: none;
color: var(--gray-6, #F2F2F2);
font-family: Poppins;
font-size: 18px;
font-style: normal;
font-weight: 500;
line-height: normal;


}

.card-box1{
  margin-left: 100px;
  margin-bottom: 70vh ;
  margin-top: 20vh;
}

.card-box{
  display: flex;
  margin-top: 10vh;
  margin-left: 10px;
  gap: 30px;
  
}

.card{
  width: 341px;
height: 422px;
flex-shrink: 0;
border-radius: 24px;
background: #FFF;
box-shadow: 0px 10px 30px 0px rgba(51, 51, 51, 0.10);
padding: 30px 20px;
line-height: 25px;
}

.img2{
  height: 67px;
  width: 67px;
}

.tit-card{
  margin-bottom: 25px;
  margin-top: 25px;
  font-size: 24px;
}

.p-card{
  color: var(--gray-2, #4F4F4F);
font-family: Poppins;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: normal;
width: 273px;
margin-bottom: 70px;
}

.b-card{
  width: 116px;
height: 42px;
flex-shrink: 0;
border-radius: 12px;
background: #2D9CDB;
border: none;
color: #FFF;
font-family: Poppins;
font-size: 16px;
font-style: normal;
font-weight: 500;
line-height: normal;
}

.caja1{
  position: relative;
  left: 110px;
}

.caja2{
  position: relative;
  left: 670px;
  bottom: 800px;
}

.text4{
  position: relative;
  left: 110px;
  bottom: 300px;
 
}

.imgs3{
  border-radius: 24px;
}

.caja3{
  position: relative;
  left: 110px;
  bottom: 380px;
}

.caja4{
  position: relative;
  left: 670px;
  bottom: 1150px;

}

.but3{
  color: #2D9CDB;
font-family: Poppins;
font-size: 24px;
font-style: normal;
font-weight: 500;
line-height: normal;
border: none;
background-color: transparent;
position: absolute;
right: 150px;
top: 522vh;
}

.meet-box{
  margin-bottom: -200px;
}

.meet{
  height: 300px;
  width: 300px;
  position: relative;
  left: 110px;
  bottom: 600px;
}

.box-img{
  position: absolute;
  top: 650vh;
  left: 400px;
  margin-bottom: 50px;
}

.imgb1{
  border-radius: 30px;
  position: absolute;
  left: 170px;
  bottom: 200px;
}

.imgb2{
  border-radius: 30px;
  position: absolute;
  left: 480px;
  bottom: 370px;
  height: 260px;
  width: 260px;

}

.imgb3{
  border-radius: 30px;
  position: absolute;
  left: 480px;
  bottom: 50px;
}

.prefoot{
  width: 800px;
  margin-left: 100px;
  margin-bottom: 200px;

}

.avatar-box{
  margin-top: 30px;
  display: flex;
  
}

.img-avatar{
  height: 70px;
  width: 70px;
  border-radius: 10px;
}

.avatar-text{
  margin-left: 30px;
  line-height: 40px;
  
}

.foot{
  width: 1230px;
height: 385px;
flex-shrink: 0;
background: #100E1D;
display: flex;
justify-content: space-between;
color: white;
padding: 60px;


}

.input2{
  height: 40px;
  width: 300px;
  border-radius: 12px;
background: var(--gray-6, #F2F2F2);
border: none;
color: var(--gray-4, #BDBDBD);
font-family: Poppins;
font-size: 18px;
font-style: normal;
font-weight: 500;
line-height: normal;
padding: 10px 15px;

}

.list-foot{
  list-style: none;
}

.span{
  position: relative;
  color:white;
  bottom: 20px;
  left: 500px;
}




@media (max-width: 800px){

  .nav{
    padding: 10px 10px;
  }

  .tit{
    font-size: 30px;
  }

  .lista{
    display: none;
  }

  .menuh{
    display: inherit;
  }

  .box{
    top: 50px;
  }

  .box1{
    margin-left: 0px;
  }

  .img1{
    height: 150px;
    width: 370px;
    position: relative;
    right: 10px;
  }

  .box2{
    top: 50px;
    left: 50px;
  }

  .input{
    width: 250px;
    
  }

  .but{
    left: 185px;
  }

  .card-box1{
    margin-left: 20px;
    
  }

  .card-box{
    display: grid;
    
    
  }

  .card{
    margin-left: -20px;
  }

  
}